body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: #383636; }

@media only screen and (min-width: 380px) and (max-width: 559px) {
  header {
    background-color: #ecec6a;
    position: fixed;
    width: 100%; }
    header .hamburguesa {
      background-color: #ecec6a; }
    header .row nav {
      color: #ecec6a;
      text-decoration: none; }
      header .row nav ul li {
        list-style: none;
        margin: 0 5px; }
        header .row nav ul li a {
          color: #c4a8df;
          transition: 0.30s;
          color: #383636;
          text-decoration: none;
          font-size: 1rem; }
  main {
    background-color: #383636;
    flex-direction: column;
    align-items: center;
    margin: 4rem 1.5rem 2rem; }
    main .inicio h1 {
      color: #fcfafa;
      font-size: 2.6rem;
      text-align: center; }
    main .inicio h2 {
      color: #fcfafa;
      font-size: 1.2rem;
      text-align: center; }
    main .inicio .img011 {
      width: 100%;
      height: auto; }
  .nosotros {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto); }
    .nosotros .imgn {
      width: 90%;
      height: auto; }
    .nosotros .desc {
      grid-column: 1/2; }
    .nosotros .h1n {
      text-align: center;
      font-size: 2rem; }
    .nosotros #pnosotros {
      grid-column: 1/2;
      font-size: 1rem;
      padding: 20px; }
    .nosotros .video {
      width: 90%;
      height: auto; }
    .nosotros #video1 {
      grid-column: 1/2;
      margin: 0px auto; }
    .nosotros #video2 {
      grid-column: 1/2;
      margin: 0px auto; }
    .nosotros .productos {
      grid-template-columns: auto;
      grid-template-rows: repeat(10, auto); }
    .nosotros .imgp {
      width: 80%;
      height: auto;
      margin: 10px; }
    .nosotros #imgp01 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgp02 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgp03 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgp04 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #img05 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #h1p {
      grid-column: 1/2;
      color: #fcfafa;
      font-size: 2.6rem;
      text-align: center; }
    .nosotros #h2p {
      grid-column: 1/2;
      font-size: 1rem;
      text-align: center; }
    .nosotros #h2p02 {
      grid-column: 1/2;
      font-size: 1rem;
      margin: 10px 0px;
      text-align: center; }
    .nosotros #pp01 {
      grid-column: 1/2;
      font-size: 0.8rem;
      margin: 29px;
      text-align: center; }
    .nosotros #pp02 {
      grid-column: 1/2;
      font-size: 0.8rem;
      margin: 29px;
      text-align: center; }
    .nosotros .contacto {
      flex-direction: column;
      align-items: center; }
    .nosotros h1 {
      color: #fcfafa;
      font-size: 2.6rem;
      text-align: center; }
    .nosotros .form {
      flex-direction: column;
      margin: 2rem 0 4rem;
      align-items: center;
      padding: 40px;
      font-size: 1.2rem;
      border: 2px solid #ecec6a;
      border-radius: 5px; }
    .nosotros #nombre {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .nosotros #cel {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .nosotros #comentarios {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .nosotros .buttons {
      padding-top: 20px; }
    .nosotros .btn1 {
      border: 1px solid black;
      border-radius: 3px;
      padding: 5px;
      margin: 1rem;
      background-color: #ecec6a; }
    .nosotros .redes {
      text-align: center; }
    .nosotros .redes p {
      font-size: 1.2rem; }
    .nosotros .fa-brands:hover {
      transform: scale(1.2);
      transition: all 0.30s; }
    .nosotros #face {
      height: 10px;
      color: #4267B2; }
    .nosotros #insta {
      height: 10px;
      color: #e1306c; }
    .nosotros #yt {
      height: 10px;
      color: #FF0000; }
    .nosotros #wpp {
      height: 10px;
      color: #25D366; }
    .nosotros #twt {
      height: 10px;
      color: #1da1f2; }
    .nosotros #map {
      width: 20rem;
      height: 20rem;
      border: 5px solid black; }
    .nosotros .galeria {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(10, auto);
      gap: 20px; }
    .nosotros .imgg {
      width: 80%;
      height: auto; }
    .nosotros #h2g {
      grid-column: 1/2;
      color: #fcfafa;
      font-size: 2.6rem;
      text-align: center; }
    .nosotros #imgg01 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgg02 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgg03 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgg04 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgg05 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgg06 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgg07 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgg08 {
      grid-column: 1/2;
      margin: 20px 0px; }
    .nosotros #imgg09 {
      grid-column: 1/2;
      margin: 20px 0px; }
  footer {
    background-color: #807c7c; }
    footer p {
      color: #fcfafa;
      font-size: 1rem;
      text-align: center; } }
