* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: #383636; }

.flex-container {
  display: flex; }

.grid-container {
  display: grid; }

.bg-navegacion {
  background-color: #ecec6a; }

/* barra de navegacio */
header {
  background-color: #ecec6a;
  position: fixed;
  width: 100%;
  z-index: 1000; }

.hamburguesa {
  background-color: #ecec6a; }

/* fin barra de navegacion */
/* main */
.main {
  margin: 4rem 1.5rem 2rem; }

h1 {
  font-size: 3rem; }

h2 {
  font-size: 1.7rem; }

/* fin main */
/* inicio */
.inicio {
  flex-direction: column;
  align-items: center; }

#img11 {
  margin-top: 3rem;
  height: auto; }

.pini {
  text-align: center;
  margin-top: 30px; }

.pini01 {
  text-align: center; }

/* fin inicio */
/* nosotros */
.nosotros {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr auto;
  gap: 70px; }

.desc {
  grid-column: 1/5;
  text-align: center; }

#pnosotros {
  font-size: 1.5rem;
  padding: 40px; }

.video {
  height: 20rem;
  width: 35rem; }

#video1 {
  grid-column: 2/3; }

#video2 {
  grid-column: 3/4; }

/* fin nosotros */
/* productos */
.productos {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto repeat(4, 1fr);
  align-items: center;
  justify-items: center; }

.imgp {
  width: 80%;
  height: auto; }

.card {
  position: relative;
  width: 400px;
  height: 200px;
  margin: 20px;
  background-color: #383636; }

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s; }

.card .front {
  transform: perspective(400px) rotateY(0deg);
  box-shadow: #383636; }

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.card .front h2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  text-align: center; }

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  text-align: center; }

.card .front h4 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  text-align: center; }

.card .front h5 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  text-align: center; }

.card .front h6 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  text-align: center; }

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #032336;
  padding: 15 px;
  color: #829288;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5pk 10px yellow; }

.card .back .link {
  border-top: solid 1px #1da1f2;
  height: 50px;
  line-height: 50px; }

.card .back .link a {
  color: white; }

.card .back h2 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px; }

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px; }

.card .back h4 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px; }

.card .back h5 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px; }

.card .back h6 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px; }

.card .back p {
  letter-spacing: 1px; }

.card:hover .front {
  transform: perspective(600px) rotateY(180deg); }

.card:hover .back {
  transform: perspective(600px) rotateY(360deg); }

.h1p {
  font-size: 2rem;
  text-align: center; }

.p1p {
  font-size: 1.2rem;
  text-align: center; }

/* fin productos */
/* contacto */
.contacto {
  flex-direction: column;
  align-items: center;
  /* formulario */
  /* fin formulario */
  /* redes */
  /* fin redes */ }
  .contacto .form {
    flex-direction: column;
    margin: 2rem 0rem 4rem;
    align-items: center;
    padding: 40px;
    font-size: 1.2rem;
    border: 2px solid #ecec6a;
    border-radius: 5px; }
  .contacto #nombre {
    background-color: #ecec6a;
    border-radius: 3px;
    padding: 3px; }
  .contacto #cel {
    background-color: #ecec6a;
    border-radius: 3px;
    padding: 3px; }
  .contacto #mail {
    background-color: #ecec6a;
    border-radius: 3px;
    padding: 3px; }
  .contacto #comentarios {
    background-color: #ecec6a;
    border-radius: 3px;
    padding: 3px; }
  .contacto .buttons {
    padding-top: 20px; }
  .contacto .btn1 {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin: 1rem;
    background-color: #ecec6a; }
  .contacto .fa-brands {
    padding: 50px;
    font-size: 4rem;
    text-align: center; }
  .contacto .redes {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    margin: 3rem 0 0;
    text-align: center; }
  .contacto .redes p {
    font-size: 1.2rem; }
  .contacto .fa-brands:hover {
    transform: scale(1.2);
    transition: all 0.30s; }
  .contacto #face {
    height: 10px;
    color: #4267B2; }
  .contacto #insta {
    height: 10px;
    color: #e1306c; }
  .contacto #yt {
    height: 10px;
    color: #FF0000; }
  .contacto #wpp {
    height: 10px;
    color: #25D366; }
  .contacto #twt {
    height: 10px;
    color: #1da1f2; }
  .contacto #map {
    width: 20rem;
    height: 20rem;
    border: 5px solid black; }

/* fin contacto */
/* galeria */
.galeria {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 5rem repeat(3, 1fr);
  justify-items: center;
  gap: 30px; }

.imgg:hover {
  scale: 1.1;
  transition: all 1s; }

.imgg {
  width: 80%;
  height: 90%; }

#h1g {
  grid-column: 2/3; }

#imgg01 {
  grid-column: 1/2; }

#imgg02 {
  grid-column: 2/3; }

#imgg03 {
  grid-column: 3/4; }

#imgg04 {
  grid-column: 1/2; }

#imgg05 {
  grid-column: 2/3; }

#imgg06 {
  grid-column: 3/4; }

#imgg07 {
  grid-column: 1/2; }

#imgg08 {
  grid-column: 2/3; }

#imgg09 {
  grid-column: 3/4; }

/* fin galeria */
/* busqueda */
/* boostrap */
.titulo-beneficios {
  margin-top: 1rem;
  font-size: 2rem;
  text-align: center; }

.carousel-inner {
  margin-top: 10px;
  padding: 30px; }

.col-4 {
  margin-top: 100px;
  padding: 70px;
  font-size: 2rem; }

.ulbene {
  margin-top: 20px; }

.pbene {
  text-align: center; }

/* fin de boostrap */
/* fin busqueda */
/* footer */
footer {
  text-align: center;
  background-color: #807c7c;
  font-size: 1.5rem; }

/* fin footer */
@media only screen and (min-width: 320px) and (max-width: 559px) {
  header {
    background-color: #ecec6a;
    position: fixed;
    width: 100%; }
    header .hamburguesa {
      background-color: #ecec6a; }
    header .row nav {
      color: #ecec6a;
      text-decoration: none; }
      header .row nav ul li {
        list-style: none;
        margin: 0 5px; }
        header .row nav ul li a {
          color: #c4a8df;
          transition: 0.30s;
          color: #383636;
          text-decoration: none;
          font-size: 1.2rem;
          font-size: 1rem; }
  /* inicio @media */
  main {
    background-color: #383636;
    flex-direction: column;
    align-items: center;
    margin: 4rem 1.5rem 2rem; }
    main .inicio h1 {
      color: #fcfafa;
      font-size: 2.6rem;
      text-align: center; }
    main .inicio h2 {
      color: white;
      font-size: 1.2rem;
      text-align: center; }
    main .inicio .img011 {
      width: 100%;
      height: auto; }
  /* fin inicio @media */
  /* nosotros @media */
  .nosotros {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto); }
    .nosotros .desc {
      grid-column: 1/2; }
    .nosotros .h1n {
      text-align: center;
      font-size: 2rem; }
    .nosotros #pnosotros {
      grid-column: 1/2;
      font-size: 1rem;
      padding: 20px; }
    .nosotros .imgn {
      width: 90%;
      height: auto; }
    .nosotros .video {
      width: 90%;
      height: auto; }
    .nosotros #video1 {
      grid-column: 1/2;
      margin: 0px auto; }
    .nosotros #video2 {
      grid-column: 1/2;
      margin: 0px auto; }
  /* fin nosotros @media */
  /* producto @media */
  .productos {
    grid-template-columns: auto;
    grid-template-rows: repeat(7, auto); }
    .productos .imgp {
      width: 80%;
      height: auto; }
    .productos .imgp01 {
      grid-column: 1/2;
      margin: 0px 0px 20px 30px; }
    .productos .imgp02 {
      grid-column: 1/2;
      margin: 0px 0px 20px 30px; }
    .productos .imgp03 {
      grid-column: 1/2;
      margin: 0px 0px 20px 30px; }
    .productos .imgp04 {
      grid-column: 1/2;
      margin: 0px 0px 20px 30px; }
    .productos .imgp0 {
      grid-column: 1/2;
      margin: 0px 0px 20px 30px; }
    .productos .card {
      position: relative;
      width: 300px;
      height: 200px;
      margin: 20px;
      margin-right: 90px; }
    .productos .card .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.5s; }
    .productos .card .front {
      transform: perspective(400px) rotateY(0deg);
      box-shadow: #383636; }
    .productos .card .front img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .productos .card .front h2 {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      line-height: 30px;
      color: white;
      background: rgba(0, 0, 0, 0.3);
      text-align: center; }
    .productos .card .front h3 {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      line-height: 30px;
      color: white;
      background: rgba(0, 0, 0, 0.3);
      text-align: center; }
    .productos .card .back {
      transform: perspective(600px) rotateY(180deg);
      background: #032336;
      padding: 15 px;
      color: #829288;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      box-shadow: 0 5px 10px yellow; }
    .productos .card .back .link {
      border-top: solid 1px #e5e28e;
      height: 50px;
      line-height: 50px; }
    .productos .card .back .link a {
      color: white; }
    .productos .card .back h4 {
      font-size: 30px;
      margin-top: 20px;
      letter-spacing: 2px; }
    .productos .card .back p {
      letter-spacing: 1px; }
    .productos .card:hover .front {
      transform: perspective(600px) rotateY(180deg); }
    .productos .card:hover .back {
      transform: perspective(600px) rotateY(360deg); }
    .productos .h1p {
      text-align: center;
      font-size: 1.5rem; }
    .productos .p1p {
      text-align: center;
      font-size: 1rem; }
  /* fin producto @media */
  /* contacto @media */
  .contacto {
    flex-direction: column;
    align-items: center;
    /* formulario */
    /* fin formulario */
    /* redes */
    /* fin redes */ }
    .contacto h1 {
      text-align: center; }
    .contacto .form {
      flex-direction: column;
      margin: 2rem 0 4rem;
      align-items: center;
      padding: 40px;
      font-size: 1.2rem;
      border: 2px solid #ecec6a;
      border-radius: 5px; }
    .contacto #nombre {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .contacto #cel {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .contacto #mail {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .contacto #comentarios {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .contacto .buttons {
      padding-top: 20px; }
    .contacto .btn1 {
      border: 1px solid black;
      border-radius: 3px;
      padding: 5px;
      margin: 1rem;
      background-color: #ecec6a; }
    .contacto .fa-brands {
      margin-left: 40px;
      padding: 5px;
      font-size: 3rem;
      text-align: center; }
    .contacto .redes {
      display: flex;
      justify-content: center;
      font-size: 5rem;
      text-align: center; }
    .contacto p {
      font-size: 1.2rem; }
    .contacto .fa-brands:hover {
      transform: scale(1.2);
      transition: all 0.30s; }
    .contacto #face {
      height: 10px;
      color: #4267B2; }
    .contacto #insta {
      height: 10px;
      color: #e1306c; }
    .contacto #yt {
      height: 10px;
      color: #FF0000; }
    .contacto #wpp {
      height: 10px;
      color: #25D366; }
    .contacto #twt {
      height: 10px;
      color: #1da1f2; }
    .contacto #map {
      width: 20rem;
      height: 20rem;
      border: 5px solid black; }
  /* fin contacto @media */
  /* galeria @media */
  .galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, auto);
    gap: 20px; }
  .imgg {
    width: 80%;
    height: 90%; }
  #h1g {
    grid-column: 1/2;
    color: white;
    font-size: 2.6rem;
    text-align: center; }
  #imgg01 {
    grid-column: 1/2; }
  #imgg02 {
    grid-column: 1/2; }
  #imgg03 {
    grid-column: 1/2; }
  #imgg04 {
    grid-column: 1/2; }
  #imgg05 {
    grid-column: 1/2; }
  #imgg06 {
    grid-column: 1/2; }
  #imgg07 {
    grid-column: 1/2; }
  #imgg08 {
    grid-column: 1/2; }
  #imgg09 {
    grid-column: 1/2; } }

/* fin galeria @media */
/* busqueda */
/* boostrap */
.titulo-busqueda {
  margin-top: 90px;
  font-size: 2.5rem; }

.parrafo {
  padding: 30px; }

/* fin de boostrap */
/* fin busqueda */
/* footer @media */
footer {
  background-color: #807c7c; }
  footer p {
    color: white;
    font-size: 1rem;
    text-align: center; }

/* fin footer @media */
@media only screen and (min-width: 560px) and (max-width: 767px) {
  header {
    background-color: #ecec6a;
    position: fixed;
    width: 100%; }
    header .hamburguesa {
      background-color: #ecec6a; }
    header .row nav {
      color: #ecec6a;
      text-decoration: none; }
      header .row nav ul li {
        list-style: none;
        margin: 0 5px; }
        header .row nav ul li a {
          color: #c4a8df;
          transition: 0.30s;
          color: #383636;
          text-decoration: none;
          font-size: 1rem; }
  /* inicio @media */
  .main {
    margin: 6rem 1.5rem 2rem; }
    .main h1 {
      font-size: 3rem;
      text-align: center; }
    .main h2 {
      font-size: 1.5rem;
      text-align: center;
      color: white; }
    .main #img11 {
      width: 100%;
      height: auto; }
  /* fin inicio @media */
  /* nosotros @media */
  .nosotros {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto); }
    .nosotros .imgn {
      width: 90%;
      height: auto; }
    .nosotros .desc {
      grid-column: 1/2; }
    .nosotros .h1n {
      font-size: 2.5rem; }
    .nosotros #pnosotros {
      grid-column: 1/2;
      font-size: 1rem;
      padding: 20px;
      color: white; }
    .nosotros .video {
      width: 90%;
      height: 22rem; }
    .nosotros #video1 {
      grid-column: 1/2;
      margin: 0px auto; }
    .nosotros #video2 {
      grid-column: 1/2;
      margin: 0px auto; }
  /* fin nosotros @media */
  /* producto @media */
  .productos {
    grid-template-columns: auto;
    grid-template-rows: repeat(10, auto); }
    .productos .imgp {
      width: 80%;
      height: auto;
      margin: 10px; }
    .productos .card {
      position: relative;
      width: 400px;
      height: 200px;
      margin: 20px; }
    .productos .card .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: 0.5s; }
    .productos .card .front {
      transform: perspective(400px) rotateY(0deg);
      box-shadow: #383636; }
    .productos .card .front img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .productos .card .front h2 {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      line-height: 30px;
      color: white;
      background: rgba(0, 0, 0, 0.3);
      text-align: center; }
    .productos .card .front h3 {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 30px;
      line-height: 30px;
      color: white;
      background: rgba(0, 0, 0, 0.3);
      text-align: center; }
    .productos .card .back {
      transform: perspective(600px) rotateY(180deg);
      background: #032336;
      padding: 15 px;
      color: #829288;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      box-shadow: 0 5pk 10px yellow; }
    .productos .card .back .link {
      border-top: solid 1px #1da1f2;
      height: 50px;
      line-height: 50px; }
    .productos .card .back .link a {
      color: white; }
    .productos .card .back h4 {
      font-size: 30px;
      margin-top: 20px;
      letter-spacing: 2px; }
    .productos .card .back p {
      letter-spacing: 1px; }
    .productos .card:hover .front {
      transform: perspective(600px) rotateY(180deg); }
    .productos .card:hover .back {
      transform: perspective(600px) rotateY(360deg); }
    .productos #p1p {
      font-size: 1.5rem; }
  /* fin producto @media */
  /* galeria @media */
  .galeria {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    gap: 20px; }
    .galeria .imgg {
      width: 70%;
      height: 90%; }
    .galeria #h2g {
      grid-column: 1/2;
      text-align: center; }
    .galeria #imgg01 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg02 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg03 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg04 {
      grid-column: 2/3;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg05 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg06 {
      grid-column: 2/3;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg07 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg08 {
      grid-column: 2/3;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg09 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
  /* fin galeria @media */
  /* busqueda */
  /* boostrap */
  .titulo-busqueda {
    margin-top: 90px;
    font-size: 2.5rem; }
    .titulo-busqueda .parrafo {
      padding: 30px; }
  /* fin de boostrap */
  /* fin busqueda */
  /* footer @media */
  footer {
    font-size: 1.3rem; }
  /* fin footer @media */ }
