body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  background-color: #383636; }

/* contacto */
.contacto {
  flex-direction: column;
  align-items: center;
  /* formulario */
  /* fin formulario */
  /* redes */
  /* fin redes */ }
  .contacto .form {
    flex-direction: column;
    margin: 2rem 0rem 4rem;
    align-items: center;
    padding: 40px;
    font-size: 1.2rem;
    border: 2px solid #ecec6a;
    border-radius: 5px; }
  .contacto #nombre {
    background-color: #ecec6a;
    border-radius: 3px;
    padding: 3px; }
  .contacto #cel {
    background-color: #ecec6a;
    border-radius: 3px;
    padding: 3px; }
  .contacto #mail {
    background-color: #ecec6a;
    border-radius: 3px;
    padding: 3px; }
  .contacto #comentarios {
    background-color: #ecec6a;
    border-radius: 3px;
    padding: 3px; }
  .contacto .buttons {
    padding-top: 20px; }
  .contacto .btn1 {
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    margin: 1rem;
    background-color: #ecec6a; }
  .contacto .fa-brands {
    padding: 50px;
    font-size: 4rem;
    text-align: center; }
  .contacto .redes {
    margin: 3rem 0 0;
    text-align: center; }
  .contacto .redes p {
    font-size: 1.2rem; }
  .contacto .fa-brands:hover {
    transform: scale(1.2);
    transition: all 0.30s; }
  .contacto #face {
    height: 10px;
    color: #4267B2; }
  .contacto #insta {
    height: 10px;
    color: #e1306c; }
  .contacto #yt {
    height: 10px;
    color: #FF0000; }
  .contacto #wpp {
    height: 10px;
    color: #25D366; }
  .contacto #twt {
    height: 10px;
    color: #1da1f2; }
  .contacto #map {
    width: 20rem;
    height: 20rem;
    border: 5px solid black; }

/* fin contacto */
@media only screen and (min-width: 380px) and (max-width: 559px) {
  header {
    background-color: #ecec6a;
    position: fixed;
    width: 100%; }
    header .hamburguesa {
      background-color: #ecec6a; }
    header .row nav {
      color: #ecec6a;
      text-decoration: none; }
      header .row nav ul li {
        list-style: none;
        margin: 0 5px; }
        header .row nav ul li a {
          color: #c4a8df;
          transition: 0.30s;
          color: #383636;
          text-decoration: none;
          font-size: 1rem; }
  /* inicio @media */
  main {
    background-color: #383636;
    flex-direction: column;
    align-items: center;
    margin: 4rem 1.5rem 2rem; }
    main .inicio h1 {
      color: #fcfafa;
      font-size: 2.6rem;
      text-align: center; }
    main .inicio h2 {
      color: #fcfafa;
      font-size: 1.2rem;
      text-align: center; }
    main .inicio .img011 {
      width: 100%;
      height: auto; }
  /* fin inicio @media */
  /* nosotros @media */
  .nosotros {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto); }
    .nosotros .desc {
      grid-column: 1/2; }
    .nosotros .h1n {
      text-align: center;
      font-size: 2rem; }
    .nosotros #pnosotros {
      grid-column: 1/2;
      font-size: 1rem;
      padding: 20px; }
    .nosotros .imgn {
      width: 90%;
      height: auto; }
    .nosotros .video {
      width: 90%;
      height: auto; }
    .nosotros #video1 {
      grid-column: 1/2;
      margin: 0px auto; }
    .nosotros #video2 {
      grid-column: 1/2;
      margin: 0px auto; }
  /* fin nosotros @media */
  /* producto @media */
  .productos {
    grid-template-columns: auto;
    grid-template-rows: repeat(10, auto); }
    .productos .imgp {
      width: 80%;
      height: auto; }
    .productos #imgp01 {
      grid-column: 1/2;
      margin: 20px 0px 20px 30px; }
    .productos #imgp02 {
      grid-column: 1/2;
      margin: 20px 0px 20px 30px; }
    .productos #imgp03 {
      grid-column: 1/2;
      margin: 0px 0px 20px 30px; }
    .productos #imgp04 {
      grid-column: 1/2;
      margin: 0px 0px 20px 30px; }
    .productos #imgp05 {
      grid-column: 1/2;
      margin: 0px 0px 20px 30px; }
    .productos #h1p {
      grid-column: 1/2;
      color: #fcfafa;
      font-size: 2.6rem;
      text-align: center; }
    .productos #h2p {
      grid-column: 1/2;
      font-size: 1rem;
      text-align: center; }
    .productos #h2p02 {
      grid-column: 1/2;
      font-size: 1rem;
      margin: 10px 0px;
      text-align: center; }
    .productos #pp01 {
      grid-column: 1/2;
      font-size: 0.8rem;
      margin: 29px;
      text-align: center; }
    .productos #pp02 {
      grid-column: 1/2;
      font-size: 0.8rem;
      margin: 29px;
      text-align: center; }
  /* fin producto @media */
  /* contacto @media */
  .contacto {
    flex-direction: column;
    align-items: center;
    /* formulario */
    /* fin formulario */
    /* redes */
    /* fin redes */ }
    .contacto .form {
      flex-direction: column;
      margin: 2rem 0 4rem;
      align-items: center;
      padding: 40px;
      font-size: 1.2rem;
      border: 2px solid #ecec6a;
      border-radius: 5px; }
    .contacto #nombre {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .contacto #cel {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .contacto #mail {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .contacto #comentarios {
      background-color: #ecec6a;
      border-radius: 3px;
      padding: 3px; }
    .contacto .buttons {
      padding-top: 20px; }
    .contacto .btn1 {
      border: 1px solid black;
      border-radius: 3px;
      padding: 5px;
      margin: 1rem;
      background-color: #ecec6a; }
    .contacto .fa-brands {
      text-align: center; }
    .contacto .redes {
      text-align: center; }
    .contacto p {
      font-size: 1.2rem; }
    .contacto .fa-brands:hover {
      transform: scale(1.2);
      transition: all 0.30s; }
    .contacto #face {
      height: 10px;
      color: #4267B2; }
    .contacto #insta {
      height: 10px;
      color: #e1306c; }
    .contacto #yt {
      height: 10px;
      color: #FF0000; }
    .contacto #wpp {
      height: 10px;
      color: #25D366; }
    .contacto #twt {
      height: 10px;
      color: #1da1f2; }
    .contacto #map {
      width: 20rem;
      height: 20rem;
      border: 5px solid black; }
  /* fin contacto @media */
  /* galeria @media */
  .galeria {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, auto);
    gap: 20px; }
  .imgg {
    width: 80%;
    height: auto; }
  #h2g {
    grid-column: 1/2;
    color: #fcfafa;
    font-size: 2.6rem;
    text-align: center; }
  #imgg01 {
    grid-column: 1/2;
    margin: 0px 0px 20px 30px; }
  #imgg02 {
    grid-column: 1/2;
    margin: 0px 0px 20px 30px; }
  #imgg03 {
    grid-column: 1/2;
    margin: 0px 0px 20px 30px; }
  #imgg04 {
    grid-column: 1/2;
    margin: 0px 0px 20px 30px; }
  #imgg05 {
    grid-column: 1/2;
    margin: 0px 0px 20px 30px; }
  #imgg06 {
    grid-column: 1/2;
    margin: 0px 0px 20px 30px; }
  #imgg07 {
    grid-column: 1/2;
    margin: 0px 0px 20px 30px; }
  #imgg08 {
    grid-column: 1/2;
    margin: 0px 0px 20px 30px; }
  #imgg09 {
    grid-column: 1/2;
    margin: 0px 0px 20px 30px; } }

/* fin galeria @media */
/* busqueda */
/* boostrap */
.titulo-busqueda {
  margin-top: 90px;
  font-size: 2.5rem; }

.parrafo {
  padding: 30px; }

/* fin de boostrap */
/* fin busqueda */
/* footer @media */
footer {
  background-color: #807c7c; }
  footer p {
    color: #fcfafa;
    font-size: 1rem;
    text-align: center; }

/* fin footer @media */
@media only screen and (min-width: 560px) and (max-width: 767px) {
  header {
    background-color: #ecec6a;
    position: fixed;
    width: 100%; }
    header .hamburguesa {
      background-color: #ecec6a; }
    header .row nav {
      color: #ecec6a;
      text-decoration: none; }
      header .row nav ul li {
        list-style: none;
        margin: 0 5px; }
        header .row nav ul li a {
          color: #c4a8df;
          transition: 0.30s;
          color: #383636;
          text-decoration: none;
          font-size: 1rem; }
  /* inicio @media */
  .main {
    margin: 6rem 1.5rem 2rem; }
    .main h1 {
      font-size: 3rem;
      text-align: center; }
    .main h2 {
      font-size: 1.5rem;
      text-align: center; }
    .main #img11 {
      width: 100%;
      height: auto; }
  /* fin inicio @media */
  /* nosotros @media */
  .nosotros {
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto); }
    .nosotros .imgn {
      width: 90%;
      height: auto; }
    .nosotros .desc {
      grid-column: 1/2; }
    .nosotros .h1n {
      font-size: 2.5rem; }
    .nosotros #pnosotros {
      grid-column: 1/2;
      font-size: 1rem;
      padding: 20px; }
    .nosotros .video {
      width: 90%;
      height: 22rem; }
    .nosotros #video1 {
      grid-column: 1/2;
      margin: 0px auto; }
    .nosotros #video2 {
      grid-column: 1/2;
      margin: 0px auto; }
  /* fin nosotros @media */
  /* producto @media */
  .productos {
    grid-template-columns: auto;
    grid-template-rows: repeat(10, auto); }
    .productos .imgp {
      width: 80%;
      height: auto;
      margin: 10px; }
    .productos #imgp01 {
      grid-column: 1/2;
      margin-left: 70px; }
    .productos #imgp02 {
      grid-column: 1/2;
      margin-left: 70px; }
    .productos #imgp03 {
      grid-column: 1/2;
      margin-left: 70px; }
    .productos #imgp04 {
      grid-column: 1/2;
      margin-left: 70px; }
    .productos #imgp05 {
      grid-column: 1/2;
      margin-left: 70px; }
    .productos #h1p {
      grid-column: 1/2;
      text-align: center; }
    .productos #h2p {
      grid-column: 1/2;
      font-size: 1.5rem;
      text-align: center; }
    .productos #h2p02 {
      grid-column: 1/2;
      font-size: 1.5rem;
      margin: 10px 0px;
      text-align: center; }
    .productos #pp01 {
      grid-column: 1/2;
      font-size: 1rem;
      margin: 29px; }
    .productos #pp02 {
      grid-column: 1/2;
      font-size: 1rem;
      margin: 29px; }
  /* fin producto @media */
  /* galeria @media */
  .galeria {
    grid-template-columns: auto;
    grid-template-rows: repeat(6, auto);
    gap: 20px; }
    .galeria .imgg {
      width: 70%;
      height: 100%; }
    .galeria #h2g {
      grid-column: 1/2;
      text-align: center; }
    .galeria #imgg01 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg02 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg03 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg04 {
      grid-column: 2/3;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg05 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg06 {
      grid-column: 2/3;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg07 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg08 {
      grid-column: 2/3;
      margin: 10px 0px 10px 100px; }
    .galeria #imgg09 {
      grid-column: 1/2;
      margin: 10px 0px 10px 100px; }
  /* fin galeria @media */
  /* busqueda */
  /* boostrap */
  .titulo-busqueda {
    margin-top: 90px;
    font-size: 2.5rem; }
    .titulo-busqueda .parrafo {
      padding: 30px; }
  /* fin de boostrap */
  /* fin busqueda */
  /* footer @media */
  footer {
    font-size: 1.3rem; }
  /* fin footer @media */ }
