@import "base/variables";
@import "base/mapas";
@import "base/listas";
@import "base/mixin";
@import "base/extend";
@import  "base/condicionales";

//NESTING
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    color: $color-secundario;
    background-color: $color-main;
}

.flex-container {
    display: flex;
}

.grid-container {
    display: grid;
}

.bg-navegacion {
    background-color: $color-header;
}

/* barra de navegacio */

header {
    background-color: $color-header;
    position: fixed;
    width: 100%;
    }
    .hamburguesa {
        background-color: $color-header;
    }
/* fin barra de navegacion */

/* main */
.main {
    margin: 4rem 1.5rem 2rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.7rem;
    }
/* fin main */

/* inicio */
.inicio {
    flex-direction: column;
    align-items: center;
    }
    #img11 {
        margin-top: 3rem;
        height: auto;
    }
    .pini{
        text-align: center;
        margin-top: 30px;
    }
    .pini01{
        text-align: center;
    }
/* fin inicio */

/* nosotros */
.nosotros {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 70px;
    }
    .desc {
        grid-column: 1/5;
        text-align: center;
    }
    #pnosotros {
        font-size: 1.5rem;
        padding: 40px;
    }
    .video {
        height: 20rem;
        width: 35rem;
    }
    #video1 {
        grid-column: 2/3;
    }
    #video2 {
        grid-column: 3/4;
    }
/* fin nosotros */

/* productos */
.productos {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    }
    .imgp{
        width: 80%;
        height: auto;
    }
    .card{
        position: relative;
        width: 400px;
        height: 200px;
        margin: 20px;
    }
    .card .face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s;
    }
    .card .front{
        transform: perspective(400px) rotateY(0deg);
        box-shadow: $color-main;
    }
    .card .front img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card .front h2{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        background: rgba(0,0,0,.3);
        text-align: center;
    }
    .card .front h3{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        background: rgba(0,0,0,.3);
        text-align: center;
    }
    .card .front h4{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        background: rgba(0,0,0,.3);
        text-align: center;
    }
    .card .front h5{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        background: rgba(0,0,0,.3);
        text-align: center;
    }
    .card .front h6{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        background: rgba(0,0,0,.3);
        text-align: center;
    }
    .card .back{
        transform: perspective(600px) rotateY(180deg);
        background: rgb(3, 35, 54);
        padding: 15 px;
        color: #829288;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5pk 10px yellow;
    }
    .card .back .link{
        border-top: solid 1px #1da1f2;
        height: 50px;
        line-height: 50px;
    }
    .card .back .link a{
        color:white;
    }
    .card .back h2{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    .card .back h3{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    .card .back h4{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    .card .back h5{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    .card .back h6{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    .card .back p{
        letter-spacing: 1px;
    }
    .card:hover .front{
        transform: perspective(600px) rotateY(180deg);
    }
    .card:hover .back{
        transform: perspective(600px) rotateY(360deg);
    }
    .h1p{
        font-size: 2rem;
        text-align: center;
    }
    .p1p{
        font-size: 1.2rem;
        text-align: center;
    }
/* fin productos */

/* contacto */
.contacto {
        flex-direction: column;
        align-items: center;
    /* formulario */
    .form {
        flex-direction: column;
        margin: 2rem 0rem 4rem;
        align-items: center;
        padding: 40px;
        font-size: 1.2rem;
        border: 2px solid $color-header;
        border-radius: 5px;
    }
    #nombre {
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    #cel {
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    #mail{
    background-color: $color-header;
    border-radius: 3px;
    padding: 3px; 
    }
    #comentarios {
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    .buttons {
        padding-top: 20px;
    }
    .btn1 {
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
        margin: 1rem;
        background-color: $color-header;
    }
    /* fin formulario */

    /* redes */
    .fa-brands{
        padding: 50px;
        font-size: 4rem;
        text-align: center;
    }
    .redes {
        display: flex;
        justify-content: center;
        font-size: 5rem;
        margin: 3rem 0 0;
        text-align: center;
    }
    .redes p {
        font-size: 1.2rem;
    }
    .fa-brands:hover {
        transform: scale(1.2);
        transition: all 0.30s;
    }
    #face {
        height: 10px;
        color: $color-face;
    }
    #insta {
        height: 10px;
        color: $color-insta;
    }
    #yt {
        height: 10px;
        color: $color-youtube;
    }
    #wpp {
        height: 10px;
        color: $color-whatsapp;
    }
    #twt {
        height: 10px;
        color: $color-twitter;
    }
    /* fin redes */
    #map {
        @include medidas(20rem, 20rem);
        border: 5px solid black;
    }
}
/* fin contacto */

/* galeria */
.galeria {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5rem repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
    }
    .imgg:hover {
        scale: 1.1;
        transition: all 1s;
    }
    .imgg {
        width: 80%;
        height: auto;
    }
    #h1g {
        grid-column: 2/3;
    }
    #imgg01 {
        grid-column: 1/2;
    }
    #imgg02 {
        grid-column: 2/3;
    }
    #imgg03 {
        grid-column: 3/4;
    }
    #imgg04 {
        grid-column: 1/2;
    }
    #imgg05 {
        grid-column: 2/3;
    }
    #imgg06 {
        grid-column: 3/4;
    }
    #imgg07 {
        grid-column: 1/2;
    }#imgg08 {
        grid-column: 2/3;
    }
    #imgg09 {
        grid-column: 3/4;
    }
/* fin galeria */

/* busqueda */
/* boostrap */
.titulo-beneficios {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    }

.carousel-inner {
    margin-top: 10px;
    padding: 30px;
}
.col-4 {
    margin-top: 100px;
    padding: 70px;
    font-size: 2rem;
}
.ulbene{
    margin-top: 20px;
}

.pbene{
    text-align: center;
}
/* fin de boostrap */
/* fin busqueda */

/* footer */
footer {
    text-align: center;
    background-color: rgb(128, 124, 124);
    font-size: 1.5rem;
    }
/* fin footer */






@media only screen and (min-width:380px) and (max-width:559px) {

header{
    background-color: $color-header;
    position: fixed;
    width: 100%;
    .hamburguesa{
        background-color: $color-header ;
    }
    .row{
        nav{
            color: $color-header;
            text-decoration: none;
            ul{
                li{
                    list-style: none;
                    margin: 0 5px;
                    a{
                        color: rgb(196, 168, 223);
                        transition: 0.30s;
                        color: rgb(56, 54, 54);
                        text-decoration: none;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

/* inicio @media */
main{
    background-color: $color-main;
    flex-direction: column;
    align-items: center;
    margin: 4rem 1.5rem 2rem;
    .inicio{
    h1{
        color: $color-tipografia;
        font-size: 2.6rem;
        text-align: center;
    }
    h2{
        color: nth($colores, 4);
        font-size: 1.2rem;
        text-align: center;
    }
    .img011{
        width: 100%;
        height: auto;
    }
    }
}
/* fin inicio @media */

/* nosotros @media */
.nosotros{
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    .desc{
        grid-column: 1/2;
    }
    .h1n{
        text-align: center;
        font-size: 2rem;
    }
    #pnosotros{
        grid-column: 1/2;
        font-size: 1rem;
        padding: 20px;
    }
    .imgn{
        width: 90%;
        height: auto;
    }
    .video{
        width: 90%;
        height: auto;
    }
    #video1{
        grid-column: 1/2;
        margin: 0px auto;
    }
    #video2{
        grid-column: 1/2;
        margin: 0px auto;
    }
}
/* fin nosotros @media */

/* producto @media */
.productos{
        grid-template-columns: auto;
        grid-template-rows: repeat(10, auto);
    .imgp{
        width: 80%;
        height: auto;
    }
    .card{
        position: relative;
        width: 300px;
        height: 200px;
        margin: 20px;
        margin-right: 90px;
    }
    .card .face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s;
    }
    .card .front{
        transform: perspective(400px) rotateY(0deg);
        box-shadow: $color-main;
    }
    .card .front img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card .front h2{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        background: rgba(0,0,0,.3);
        text-align: center;
    }
    .card .front h3{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        background: rgba(0,0,0,.3);
        text-align: center;
    }
    .card .back{
        transform: perspective(600px) rotateY(180deg);
        background: rgb(3, 35, 54);
        padding: 15 px;
        color: #829288;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5pk 10px yellow;
    }
    .card .back .link{
        border-top: solid 1px #e5e28e;
        height: 50px;
        line-height: 50px;
    }
    .card .back .link a{
        color:white;
    }
    .card .back h4{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    .card .back p{
        letter-spacing: 1px;
    }
    .card:hover .front{
        transform: perspective(600px) rotateY(180deg);
    }
    .card:hover .back{
        transform: perspective(600px) rotateY(360deg);
    }
    .h1p{
        text-align: center;
        font-size: 1.5rem;
    }
    .p1p{
        text-align: center;
        font-size: 1rem;
    }
}
/* fin producto @media */

/* contacto @media */
.contacto {
        flex-direction: column;
        align-items: center;
        h1{
            text-align: center;
        }
    /* formulario */
    .form {
        flex-direction: column;
        margin: 2rem 0 4rem;
        align-items: center;
        padding: 40px;
        font-size: 1.2rem;
        border: 2px solid $color-header;
        border-radius: 5px;
    }
    #nombre {
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    #cel {
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    #mail{
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    #comentarios {
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    .buttons {
        padding-top: 20px;
    }
    .btn1 {
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
        margin: 1rem;
        background-color: $color-header;
    }
    /* fin formulario */

    /* redes */
    .fa-brands{
        margin-left: 40px;
        padding: 5px;
        font-size: 3rem;
        text-align: center;
    }
    .redes {
        display: flex;
        justify-content: center;
        font-size: 5rem;
        text-align: center;
    }
    p {
        font-size: 1.2rem;
    }
    .fa-brands:hover {
        transform: scale(1.2);
        transition: all 0.30s;
    }
    #face {
        height: 10px;
        color: $color-face;
    }
    #insta {
        height: 10px;
        color: $color-insta;
    }
    #yt {
        height: 10px;
        color: $color-youtube;
    }
    #wpp {
        height: 10px;
        color: $color-whatsapp;
    }
    #twt {
        height: 10px;
        color: $color-twitter;
    }
    /* fin redes */
    #map {
        width: 20rem;
        height: 20rem;
        border: 5px solid black;
    }
}
/* fin contacto @media */

/* galeria @media */
.galeria {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, auto);
        gap: 20px;
    }
    .imgg {
        width: 80%;
        height: auto;
    }
    #h2g {
        grid-column: 1/2;
        color:nth($colores, 4);
        font-size: 2.6rem;
        text-align: center;
    }
    #imgg01 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg02 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg03 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg04 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg05 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg06 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg07 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg08 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg09 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
}
/* fin galeria @media */

/* busqueda */
/* boostrap */
.titulo-busqueda {
    margin-top: 90px;
    font-size: 2.5rem;
}
.parrafo{
    padding: 30px;
}
/* fin de boostrap */
/* fin busqueda */

/* footer @media */
footer{
    background-color: $color-footer;
    p{
        color:nth($colores, 4);
        font-size: 1rem;
        text-align: center;
    }
}
/* fin footer @media */

@media only screen and (min-width:560px) and (max-width:767px) {

header{
    background-color: $color-header;
    position: fixed;
    width: 100%;
    .hamburguesa{
        background-color: $color-header ;
    }
    .row{
        nav{
            color: $color-header;
            text-decoration: none;
            ul{
                li{
                    list-style: none;
                    margin: 0 5px;
                    a{
                        color: rgb(196, 168, 223);
                        transition: 0.30s;
                        color: rgb(56, 54, 54);
                        text-decoration: none;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

/* inicio @media */
.main {
        margin: 6rem 1.5rem 2rem;
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    h2 {
        font-size: 1.5rem;
        text-align: center;
        color:nth($colores, 4);
    }
    #img11 {
        width: 100%;
        height: auto;
    }
}
/* fin inicio @media */

/* nosotros @media */
.nosotros {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    .imgn {
        width: 90%;
        height: auto;
    }
    .desc {
        grid-column: 1/2;
    }
    .h1n {
        font-size: 2.5rem;
    }
    #pnosotros {
        grid-column: 1/2;
        font-size: 1rem;
        padding: 20px;
        color:nth($colores, 4);
    }
    .video {
        width: 90%;
        height: 22rem;
    }
    #video1 {
        grid-column: 1/2;
        margin: 0px auto;
    }
    #video2 {
        grid-column: 1/2;
        margin: 0px auto;
    }
}
/* fin nosotros @media */

/* producto @media */
.productos {
        grid-template-columns: auto;
        grid-template-rows: repeat(10, auto);
    .imgp {
        width: 80%;
        height: auto;
        margin: 10px;
    }
    .card{
        position: relative;
        width: 400px;
        height: 200px;
        margin: 20px;
    }
    .card .face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        border-radius: 10px;
        overflow: hidden;
        transition: 0.5s;
    }
    .card .front{
        transform: perspective(400px) rotateY(0deg);
        box-shadow: $color-main;
    }
    .card .front img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .card .front h2{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        background: rgba(0,0,0,.3);
        text-align: center;
    }
    .card .front h3{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        line-height: 30px;
        color: white;
        background: rgba(0,0,0,.3);
        text-align: center;
    }
    .card .back{
        transform: perspective(600px) rotateY(180deg);
        background: rgb(3, 35, 54);
        padding: 15 px;
        color: #829288;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        box-shadow: 0 5pk 10px yellow;
    }
    .card .back .link{
        border-top: solid 1px #1da1f2;
        height: 50px;
        line-height: 50px;
    }
    .card .back .link a{
        color:white;
    }
    .card .back h4{
        font-size: 30px;
        margin-top: 20px;
        letter-spacing: 2px;
    }
    .card .back p{
        letter-spacing: 1px;
    }
    .card:hover .front{
        transform: perspective(600px) rotateY(180deg);
    }
    .card:hover .back{
        transform: perspective(600px) rotateY(360deg);
    }
    #p1p{
        font-size: 1.5rem;
    }
    // #imgp01 {
    //     grid-column: 1/2;
    //     margin-left: 70px;
    // }
    // #imgp02 {
    //     grid-column: 1/2;
    //     margin-left: 70px;
    // }
    // #imgp03 {
    //     grid-column: 1/2;
    //     margin-left: 70px;
    // }
    // #imgp04 {
    //     grid-column: 1/2;
    //     margin-left: 70px;
    // }
    // #imgp05 {
    //     grid-column: 1/2;
    //     margin-left: 70px;
    // }
    // #h1p {
    //     grid-column: 1/2;
    //     text-align: center;
    // }
    // #h2p {
    //     grid-column: 1/2;
    //     font-size: 1.5rem;
    //     text-align: center;
    //     color:nth($colores, 4);
    // }
    // #h2p02 {
    //     grid-column: 1/2;
    //     font-size: 1.5rem;
    //     margin: 10px 0px;
    //     text-align: center;
    //     color:nth($colores, 4);
    // }
    // #pp01 {
    //     grid-column: 1/2;
    //     font-size: 1rem;
    //     margin: 29px;
    // }
    // #pp02 {
    //     grid-column: 1/2;
    //     font-size: 1rem;
    //     margin: 29px;
    //     color:nth($colores, 4);
    // }
}
/* fin producto @media */

/* galeria @media */
.galeria {
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        gap: 20px;
    .imgg {
        width: 70%;
        height: 100%;
    }
    #h2g {
        grid-column: 1/2;
        text-align: center;
        
    }
    #imgg01 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
    #imgg02 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
    #imgg03 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
    #imgg04 {
        grid-column: 2/3;
        margin: 10px 0px 10px 100px;
    }
    #imgg05 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
    #imgg06 {
        grid-column: 2/3;
        margin: 10px 0px 10px 100px;
    }
    #imgg07 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
    #imgg08 {
        grid-column: 2/3;
        margin: 10px 0px 10px 100px;
    }
    #imgg09 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
}
/* fin galeria @media */
    
/* busqueda */
/* boostrap */
.titulo-busqueda {
        margin-top: 90px;
        font-size: 2.5rem;
    .parrafo{
        padding: 30px;
    }
}
/* fin de boostrap */
/* fin busqueda */

/* footer @media */
footer {
        font-size: 1.3rem;
    }
    /* fin footer @media */
}

