@import "utilities/variables";


//NESTING
body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    color: $color-secundario;
    background-color: $color-main;
}

@media only screen and (min-width:380px) and (max-width:559px) {

header{
    background-color: $color-header;
    position: fixed;
    width: 100%;
    .hamburguesa{
        background-color: $color-header ;
    }
    .row{
        nav{
            color: $color-header;
            text-decoration: none;
            ul{
                li{
                    list-style: none;
                    margin: 0 5px;
                    a{
                        color: rgb(196, 168, 223);
                        transition: 0.30s;
                        color: rgb(56, 54, 54);
                        text-decoration: none;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

/* inicio @media */
main{
    background-color: $color-main;
    flex-direction: column;
    align-items: center;
    margin: 4rem 1.5rem 2rem;
    .inicio{
    h1{
        color: $color-tipografia;
        font-size: 2.6rem;
        text-align: center;
    }
    h2{
        color: $color-tipografia;
        font-size: 1.2rem;
        text-align: center;
    }
    .img011{
        width: 100%;
        height: auto;
    }
    }
}
/* fin inicio @media */

/* nosotros @media */
.nosotros{
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    .desc{
        grid-column: 1/2;
    }
    .h1n{
        text-align: center;
        font-size: 2rem;
    }
    #pnosotros{
        grid-column: 1/2;
        font-size: 1rem;
        padding: 20px;
    }
    .imgn{
        width: 90%;
        height: auto;
    }
    .video{
        width: 90%;
        height: auto;
    }
    #video1{
        grid-column: 1/2;
        margin: 0px auto;
    }
    #video2{
        grid-column: 1/2;
        margin: 0px auto;
    }
}
/* fin nosotros @media */

/* producto @media */
.productos{
        grid-template-columns: auto;
        grid-template-rows: repeat(10, auto);
    }
    .imgp{
        width: 80%;
        height: auto;
    }
    #imgp01{
        grid-column: 1/2;
        margin: 20px 0px 20px 30px;
    }
    #imgp02{
        grid-column: 1/2;
        margin: 20px 0px 20px 30px;
    }
    #imgp03{
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgp04{
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
        
    }
    #imgp05{
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #h1p{
        grid-column: 1/2;
        color: $color-tipografia;
        font-size: 2.6rem;
        text-align: center;
    }
    #h2p{
        grid-column: 1/2;
        font-size: 1rem;
        text-align: center;
    }
    #h2p02{
        grid-column: 1/2;
        font-size: 1rem;
        margin: 10px 0px;
        text-align: center;
    }
    #pp01{
        grid-column: 1/2;
        font-size: 0.8rem;
        margin: 29px;
        text-align: center;
    }
    #pp02{
        grid-column: 1/2;
        font-size: 0.8rem;
        margin: 29px;
        text-align: center;
}
/* fin producto @media */

/* contacto @media */
.contacto {
        flex-direction: column;
        align-items: center;
    }
    h1{
        color: $color-tipografia;
        font-size: 2.6rem;
    }
    /* formulario */
    .form {
        flex-direction: column;
        margin: 2rem 0 4rem;
        align-items: center;
        padding: 40px;
        font-size: 1.2rem;
        border: 2px solid $color-header;
        border-radius: 5px;
    }
    #nombre {
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    #cel {
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    #mail{
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    #comentarios {
        background-color: $color-header;
        border-radius: 3px;
        padding: 3px;
    }
    .buttons {
        padding-top: 20px;
    }
    .btn1 {
        border: 1px solid black;
        border-radius: 3px;
        padding: 5px;
        margin: 1rem;
        background-color: $color-header;
    }
    /* fin formulario */

    /* redes */
    .fa-brands{
        padding: 50px;
        font-size: 4rem;
        text-align: center;
    }
    .redes {
        text-align: center;
    }
    .redes p {
        font-size: 1.2rem;
    }
    .fa-brands:hover {
        transform: scale(1.2);
        transition: all 0.30s;
    }
    #face {
        height: 10px;
        color: $color-face;
    }
    #insta {
        height: 10px;
        color: $color-insta;
    }
    #yt {
        height: 10px;
        color: $color-youtube;
    }
    #wpp {
        height: 10px;
        color: $color-whatsapp;
    }
    #twt {
        height: 10px;
        color: $color-twitter;
    }
    /* fin redes */
    #map {
        width: 20rem;
        height: 20rem;
        border: 5px solid black;
}
/* fin contacto @media */

/* galeria @media */
.galeria {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, auto);
        gap: 20px;
    }
    .imgg {
        width: 80%;
        height: auto;
    }
    #h2g {
        grid-column: 1/2;
        color: $color-tipografia;
        font-size: 2.6rem;
        text-align: center;
    }
    #imgg01 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg02 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg03 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg04 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg05 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg06 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg07 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg08 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
    #imgg09 {
        grid-column: 1/2;
        margin: 0px 0px 20px 30px;
    }
}
/* fin galeria @media */

/* busqueda */
/* boostrap */
.titulo-busqueda {
    margin-top: 90px;
    font-size: 2.5rem;
}
.parrafo{
    padding: 30px;
}
/* fin de boostrap */
/* fin busqueda */

/* footer @media */
footer{
    background-color: $color-footer;
    p{
        color: $color-tipografia;
        font-size: 1rem;
        text-align: center;
    }
}
/* fin footer @media */

@media only screen and (min-width:560px) and (max-width:767px) {

header{
    background-color: $color-header;
    position: fixed;
    width: 100%;
    .hamburguesa{
        background-color: $color-header ;
    }
    .row{
        nav{
            color: $color-header;
            text-decoration: none;
            ul{
                li{
                    list-style: none;
                    margin: 0 5px;
                    a{
                        color: rgb(196, 168, 223);
                        transition: 0.30s;
                        color: rgb(56, 54, 54);
                        text-decoration: none;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

/* inicio @media */
.main {
        margin: 6rem 1.5rem 2rem;
    }
    h1 {
        font-size: 3rem;
        text-align: center;
    }
    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
    #img11 {
        width: 100%;
        height: auto;
    }
/* fin inicio @media */

/* nosotros @media */
.nosotros {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, auto);
    }
    .imgn {
        width: 90%;
        height: auto;
    }
    .desc {
        grid-column: 1/2;
    }
    .h1n {
        font-size: 2.5rem;
    }
    #pnosotros {
        grid-column: 1/2;
        font-size: 1rem;
        padding: 20px;
    }
    .video {
        width: 90%;
        height: 22rem;
    }
    #video1 {
        grid-column: 1/2;
        margin: 0px auto;
    }
    #video2 {
        grid-column: 1/2;
        margin: 0px auto;
    }
/* fin nosotros @media */

/* producto @media */
.productos {
        grid-template-columns: auto;
        grid-template-rows: repeat(10, auto);
    }
    .imgp {
        width: 80%;
        height: auto;
        margin: 10px;
    }
    #imgp01 {
        grid-column: 1/2;
        margin-left: 70px;
    }
    #imgp02 {
        grid-column: 1/2;
        margin-left: 70px;
    }
    #imgp03 {
        grid-column: 1/2;
        margin-left: 70px;
    }
    #imgp04 {
        grid-column: 1/2;
        margin-left: 70px;
    }
    #imgp05 {
        grid-column: 1/2;
        margin-left: 70px;
    }
    #h1p {
        grid-column: 1/2;
        text-align: center;
    }
    #h2p {
        grid-column: 1/2;
        font-size: 1.5rem;
        text-align: center;
    }
    #h2p02 {
        grid-column: 1/2;
        font-size: 1.5rem;
        margin: 10px 0px;
        text-align: center;
    }
    #pp01 {
        grid-column: 1/2;
        font-size: 1rem;
        margin: 29px;
    }
    #pp02 {
        grid-column: 1/2;
        font-size: 1rem;
        margin: 29px;
    }
/* fin producto @media */

/* galeria @media */
.galeria {
        grid-template-columns: auto;
        grid-template-rows: repeat(6, auto);
        gap: 20px;
    }
    .imgg {
        width: 70%;
        height: 100%;
    }
    #h2g {
        grid-column: 1/2;
        text-align: center;
    }
    #imgg01 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
    #imgg02 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
    #imgg03 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
    #imgg04 {
        grid-column: 2/3;
        margin: 10px 0px 10px 100px;
    }
    #imgg05 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
    #imgg06 {
        grid-column: 2/3;
        margin: 10px 0px 10px 100px;
    }
    #imgg07 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
    #imgg08 {
        grid-column: 2/3;
        margin: 10px 0px 10px 100px;
    }
    #imgg09 {
        grid-column: 1/2;
        margin: 10px 0px 10px 100px;
    }
/* fin galeria @media */
    
/* busqueda */
/* boostrap */
.titulo-busqueda {
        margin-top: 90px;
        font-size: 2.5rem;
    }
    .parrafo{
        padding: 30px;
    }
/* fin de boostrap */
/* fin busqueda */

/* footer @media */
footer {
        font-size: 1.3rem;
    }
    /* fin footer @media */



}

