//usuarios standar

$standar: (
    // key - valor
    color-standar: black,
    bg-standar: rgb(207, 207, 166),
    border-satndar: 2px solid black,
    font-standar: 1.2rem,
);

$premium:(
    color-premium: gold,
    bg-premium: rgb(207, 207, 166),
    border-premium: 2px solid gold,
    font-premium: 1.2rem
);