//usuarios standar

$standar: (
    // key - valor
    color-standar: yellow,
    bg-standar: black,
    border-satndar: 2px solid black,
    font-standar: 1.5rem,
);

$premium:(
    color-premium: gold,
    bg-premium: black,
    border-premium: 2px solid gold,
    font-premium: 1.5rem
);