// VARIABLES
$color-header: rgb(236, 236, 106);
$color-main: rgb(56, 54, 54);
$color-footer: rgb(128, 124, 124);
$color-secundario: white;
$color-tipografia: rgb(252, 250, 250);
$color-face: #4267B2;
$color-insta: rgb(225, 48, 108);
$color-youtube: #FF0000;
$color-whatsapp: #25D366;
$color-twitter: #1da1f2;
$medida-principal: 100%;
$medida-secundaria: 90%;
